@charset "UTF-8";

html, body{
  position:relative;
  font-family:monospace;
  width:100%;
  height:100%;
  margin:0;
  padding:0;

  color:rgba(25,25,25,1.00);
}

#sidebar{
  position:relative;
  display:inline-block;
  vertical-align:top;

  margin:0;
  padding:0;

  width:calc( 25% - 7.2px );
  height:100%;

  overflow-y:scroll;

  background: rgba(200,200,200,1);
  background: -moz-linear-gradient(left, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(200,200,200,1)), color-stop(100%, rgba(225,225,225,1)));
  background: -webkit-linear-gradient(left, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  background: -o-linear-gradient(left, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  background: -ms-linear-gradient(left, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  background: linear-gradient(to right, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#e1e1e1', GradientType=1 );

  //border-right:1px solid rgba(200,200,200,1.00);

  ul li{
    list-style:none;
    font-size:18px;
    margin:0;

    &:hover{
      //The 16 in this link represents pixel size. Change to any other value to change the size.
      list-style:georgian outside url(https://img.icons8.com/ios/16/000000/pyramids-filled.png);
    }
  }

  a:link, a:visited{
    text-decoration:none;
    color:rgba(50,50,50,1.00);
  }
  a:hover, a:active{

  }


  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  &::-webkit-scrollbar-track:active {
    background: #333333;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }

}


main{
  position:relative;
  display:inline-block;
  vertical-align:top;

  margin:0 0 0px 0;
  padding:0 0 0px 10px;

  width:calc(75% - 10px);
  height:calc(100%);

  overflow-y:scroll;

  background:rgba(255,255,255,1.00);

  a:link, a:visited{
    text-decoration:none;
    color:rgba(50,50,50,1.00);
  }
  a:hover, a:active{
    text-decoration:none;
    color:rgba(150,150,150,1.00);
  }
}

footer{
  position:absolute;
  bottom:0;
  left:0px;
  width:auto;
  background:rgba(255,255,255,0.00);
  border:1px solid rgba(0,0,0,0.00);
  border-radius:50% 50% 0% 0%;

  p{
    margin:15px 2px 5px;
    vertical-align:bottom;
  }

  a:link, a:visited{
    color:rgba(0,0,0,1.00);
  }
}

h1{
  margin-left:25px;
}

h2{

  font-size:3vh;

  &:before{
    color:rgba(150,150,150,1.00);
    content:"# ";
  }

}

p{
  //font-size:16px;
  font-size:2.2vh;
  margin-left:25px;
}

ul li{
  //font-size:18px;
  font-size:2.2vh;
  margin:0 3.5px 1em 2px;
}
