html, body {
  position: relative;
  font-family: monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #191919;
}

.sidebar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: calc( 25% - 7.2px );
  height: 100%;
  overflow-y: scroll;
  background: #c8c8c8;
  background: -moz-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #c8c8c8), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
  background: -o-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
  background: -ms-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
  background: linear-gradient(to right, #c8c8c8 0%, #e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#c8c8c8", endColorstr="#e1e1e1", GradientType=1 );
}
.sidebar ul {
  margin: 15px 0 55px -15px;
}
.sidebar ul li {
  list-style: none;
  font-size: 16px;
  margin: 0;
}
.sidebar ul li:hover {
  list-style: georgian outside url(https://img.icons8.com/ios/14/000000/pyramids-filled.png);
}
.sidebar a:link, .sidebar a:visited {
  text-decoration: none;
  color: #323232;
}
.sidebar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.sidebar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.sidebar::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0px none #ffffff;
  border-radius: 50px;
}
.sidebar::-webkit-scrollbar-track:hover {
  background: #666666;
}
.sidebar::-webkit-scrollbar-track:active {
  background: #333333;
}
.sidebar::-webkit-scrollbar-corner {
  background: transparent;
}

main {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0px 0;
  padding: 0 0 0px 10px;
  width: calc(75% - 10px);
  height: calc(100%);
  overflow-y: scroll;
  background: white;
}
main a:link, main a:visited {
  text-decoration: none;
  color: #323232;
}
main a:hover, main a:active {
  text-decoration: none;
  color: #969696;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(25% - 8.7px);
  background: rgba(255, 255, 255, 0);
  border-right: 1.5px solid #c8c8c8;
  background: #c8c8c8;
  background: -moz-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #c8c8c8), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
  background: -o-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
  background: -ms-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
  background: linear-gradient(to right, #c8c8c8 0%, #e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#c8c8c8", endColorstr="#e1e1e1", GradientType=1 );
}
footer p {
  margin: 10px 2px 5px;
  vertical-align: bottom;
}
footer a:link, footer a:visited {
  color: black;
}
footer #github-icon {
  position: relative;
  display: inline-block;
  background: url("https://img.icons8.com/windows/32/000000/github.png") no-repeat center;
  height: 24px;
  width: 24px;
  margin: 10px 5px 10px 10px;
  font-size: 0px;
}
footer #gorillis-logo {
  position: relative;
  display: inline-block;
  background: url("https://img.icons8.com/color/24/000000/anubis.png") no-repeat center;
  height: 23px;
  width: 23px;
  margin: 10px 10px 10px 5px;
  font-size: 0px;
  border: 1.2px solid black;
  border-radius: 50%;
}

#nav-caller {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background: url("https://img.icons8.com/cotton/32/000000/menu.png") no-repeat center;
  height: 28px;
  width: 28px;
}
h1 {
  margin-left: 25px;
}

h2 {
  font-size: 3vh;
}
h2:before {
  color: #969696;
  content: "# ";
}

p {
  font-size: 2.2vh;
  margin-left: 25px;
}

ul li {
  font-size: 16px;
  margin: 0 3.5px 1em 2px;
}

@media screen and (max-width: 440px) {
  .sidebar {
    display: block;
    width: 100%;
    height: 0;
    transition: height 1s ease;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: white;
    overflow-y: scroll;
    transition: height 1s ease;
    background: #c8c8c8;
    background: -moz-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #c8c8c8), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
    background: -o-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
    background: -ms-linear-gradient(left, #c8c8c8 0%, #e1e1e1 100%);
    background: linear-gradient(to right, #c8c8c8 0%, #e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#c8c8c8", endColorstr="#e1e1e1", GradientType=1 );
  }
  .navbar ul li {
    list-style: none;
    font-size: 16px;
    margin: 0;
  }
  .navbar ul li:hover {
    list-style: georgian outside url(https://img.icons8.com/ios/14/000000/pyramids-filled.png);
  }
  .navbar a:link, .navbar a:visited {
    text-decoration: none;
    color: #323232;
  }
  .navbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  .navbar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  .navbar::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  .navbar::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  .navbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  .navbar::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  .navbar::-webkit-scrollbar-track:active {
    background: #333333;
  }
  .navbar::-webkit-scrollbar-corner {
    background: transparent;
  }

  #nav-caller {
    display: block;
    z-index: 3;
  }

  main {
    display: block;
    width: 100%;
    padding: 0;
  }

  footer {
    width: calc(100%);
    border: none;
    transition: display 1s ease;
  }
}

/*# sourceMappingURL=style.css.map */
