@charset "UTF-8";

html, body{
  font-family:monospace;
  width:100%;
  height:100%;
  margin:0;
  padding:0;

  color:rgba(25,25,25,1.00);
}

#sidebar{
  position:relative;
  display:inline-block;
  vertical-align:top;

  margin:0;
  padding:0;

  width:calc( 25% - 10px );
  height:100%;

  overflow-y:scroll;

  background: rgba(200,200,200,1);
  background: -moz-linear-gradient(left, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(200,200,200,1)), color-stop(100%, rgba(225,225,225,1)));
  background: -webkit-linear-gradient(left, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  background: -o-linear-gradient(left, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  background: -ms-linear-gradient(left, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  background: linear-gradient(to right, rgba(200,200,200,1) 0%, rgba(225,225,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#e1e1e1', GradientType=1 );

  border-right:1px solid rgba(200,200,200,1.00);

  ul li{
    list-style:none;
    font-size:18px;

    &:hover{
      list-style:georgian;
    }
  }

  a:link, a:visited{
    text-decoration:none;
    color:rgba(50,50,50,1.00);
  }
  a:hover, a:active{

  }


  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

}


main{
  position:relative;
  display:inline-block;
  vertical-align:top;

  margin:0;
  padding:0;

  width:75%;
  height:100%;

  overflow-y:scroll;

  background:rgba(255,255,255,1.00);

  a:link, a:visited{
    text-decoration:none;
    color:rgba(50,50,50,1.00);
  }
  a:hover, a:active{
    text-decoration:none;
    color:rgba(150,150,150,1.00);
  }
}

h2{
  width:auto;
  &:before{
    color:rgba(150,150,150,1.00);
    content:"# ";
  }

}

p{
  font-size:16px;
}

ul li{
  font-size:18px;
}
